.Pallet {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* scale커지면서 생기는 스크롤바 없애기 */
  overflow: auto;
}
.Pallet-colors {
  height: 90%;
  width: 100%;
}
.Pallet-footer {
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 1rem 1rem 0;
}
.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}
